
.logo{
    display: flex;
    width: 10%;
    height: auto;
    flex-direction: row;
    background-color:white;
    padding: 1%;
}

.slogan{
    display: flex;
        width: 100%;
        height:auto;
        flex-direction: row;
        justify-content: right;
        margin: 0%;
        background-color:white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;

}
.promo{width: 100%;
}
.pave{ width:100%;
        padding: 1%;
         background-color: black;
        color:aqua;
}