/*largeur du logo 100%des 30% définie en header1*/

.logo{
    /*largeur invariable lorsqu'on rétrécit l'écran*/
    margin-top: 0px;
    padding: 0;
    max-width: 100%;
    max-height: 50%;
}
.slogan{
   margin-top: 0px;
    padding: 0;
    max-width: 100%;
    max-height: 50%;
}

/*largeur de la bande promotionnelle (toute la largeur de la page*/

.promo{
    width: 100%;
}
header{
    display: flex;
    /*indique le positionnement en ligne des headers 1 et 2*/
    flex-direction: row;
    align-items: center;
}

/*positionnement du logo*/
#header1{
    
    /*le logo occupe 50%de la largeur de la page*/
    width: 50%;
    min-width: 200px;
    /*en ligne avec le bloc header2*/
    flex-direction: row;
    height: 150px;
}
/*positionnement du texte*/
#header2{
    
    /*le texte occupe les 50% restants de la page*/
    width: 50%;
    min-width: 200px;
    flex-direction: row; 
    justify-content: center;
    font-size: 40px;
    padding: 45px;
    height: 150px;
}

.pave{
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
}